.navbar {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  -webkit-box-shadow: 0px 10px 15px -6px rgb(219, 213, 219);
  -moz-box-shadow: 0px 10px 15px -6px rgb(219, 213, 219);
  box-shadow: 0px 10px 15px -6px rgb(219, 213, 219);
}

.logo {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-right: solid 2px lightgray;
  padding: 5px 25px;
  font-size: 30px;
}