.DetailedJob {
  background-color: white;
  width: 80%;
  margin: 50px auto 0 auto;
  padding: 45px;
  border-radius: 8px;
  border: rgb(236, 236, 236) solid 1px;
  box-shadow: 0px 10px 15px -6px rgb(219, 213, 219);
}

.header h1 {
  font-size: 25px;
  font-family: 'Mukta', sans-serif;
}

.header-small {
  display: flex;
  margin: 10px;
}

.sub-title {
  font-family: 'Mukta', sans-serif;
  font-weight: bold;
  font-size: 18px;  
}

.side-borders {
  border-right: solid 2px lightgray;
  border-left: solid 2px lightgray;
  padding: 0 20px;
  margin: 0 20px;
}

.body {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.body p {
  font-size: 15px;
  text-align: justify
}

.body-left {
  width: 70%;
}

.body-left h2 {
  font-family: 'Mukta', sans-serif;
  margin: 20px 0 10px 0;
}

.body-right {
  width: 25%;
  border-left: 1px solid lightgray;
  padding-left: 50px;
}

.info-item {
  list-style: none;
  margin-bottom: 10px;
  line-height: 21px;
}

.info-item h4 {
  font-family: 'Mukta', sans-serif;
  color: #b7b0b0;
  font-size: 18px;  
  font-weight: 600;
}

.button {
  text-decoration: none;
  background-color: rgb(236, 236, 236);
  color: #575252;
  width: 54%;
  display: flex;
  height: 35px;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin-top: 20px;
}